
NOMAD_ADDR="https://some-public-ip:4646"
NOMAD_CACERT="/path/to/tls/nomad-ca.pem"
NOMAD_CLIENT_CERT="/path/to/tls/nomad-cli.pem"
NOMAD_CLIENT_KEY="/path/to/tls/nomad-cli-key.pem"
ACCOUNTING_PTH="/path/to/ai4-accounting"
ZENODO_TOKEN="**************************************"
GITHUB_TOKEN="**************************************"
MAILING_TOKEN="*************************************"
HARBOR_ROBOT_PASSWORD="*****************************"
JENKINS_TOKEN="*************************************"
PROVENANCE_TOKEN="**********************************"
LITELLM_API_KEY="***********************************"
WATTNET_PASSWORD="**********************************"
