# We first build the image without pushing, then pass some basic init tests, then push

name: Build ai4-papi:dev docker image

on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Login to Harbor
        uses: docker/login-action@v2
        with:
          registry: ${{ secrets.HARBOR_URL  }}
          username: ${{ secrets.HARBOR_USERNAME  }}
          password: ${{ secrets.HARBOR_TOKEN }}

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build
        uses: docker/build-push-action@v3
        with:
          context: .
          push: false
          tags: |
            ${{ secrets.HARBOR_URL }}/ai4os/ai4-papi:dev
            ${{ secrets.DOCKERHUB_USERNAME }}/ai4-papi:dev
          file: docker/Dockerfile

      - name: Tests - Init ai4papi package (dev mode)
        run: docker run --rm ${{ secrets.HARBOR_URL }}/ai4os/ai4-papi:dev python3 -c "unset FORWARDED_ALLOW_IPS; import ai4papi"

      - name: Push to Harbor
        run: docker push ${{ secrets.HARBOR_URL }}/ai4os/ai4-papi:dev

      - name: Push to Docker Hub
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/ai4-papi:dev
